@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "reset";
@import "vars";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  background-color: $darken;
  color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  line-height: 120%;
}

.section {
  padding: 100px 0;
  min-height: 100vh;

  &_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_light {
    background-color: $dark;
  }
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: auto;

  @media (max-width: 1440px) {
    max-width: 1240px;
  }
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($darken, .8);

  &__background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
  }

  &__title, &__subtitle {
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: $blue;
      font-size: 48px;
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 38px;
    margin-bottom: 80px;
  }

  &__link {
    padding: 20px;
    background-color: $blue;
    border-radius: 20px;
    transition: all .3s ease;

    &:hover {
      background-color: darken($blue, 10);
    }
  }
}

.for-whom {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -60px;
  }

  &__item {
    margin-top: 60px;
    width: 25%;
    padding: 0 20px;
  }

  @media (max-width: 1440px) {
    &__list {
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item {
      width: 50%;
    }
  }
}

.fw-item {
  background-color: $purple;
  color: $white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba($white, .2);
  height: 100%;

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-weight: bold;
    line-height: 120%;
  }

  &__list {
  }

  &__list-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 18px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $blue;
    }
  }
}

.how {
  &__content {
    text-align: justify;
    font-size: 18px;
    line-height: 130%;
    max-width: 640px;
  }
}

.advantages {
  &__title {
    margin-bottom: 200px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -150px;
  }

  &__item {
    width: 33.3%;
    padding: 0 60px;
    margin-top: 150px;
  }
}

.advantage {
  position: relative;

  &__number {
    bottom: 0;
    left: 0;
    font-size: 160px;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    color: $purple;
    animation-duration: 5s;
    animation-name: advantage-number;
    animation-iteration-count: infinite;

    &_1 {
      animation-delay: .5s;
    }

    &_2 {
      animation-delay: 1s;
    }

    &_3 {
      animation-delay: 1.5s;
    }

    &_4 {
      animation-delay: 2s;
    }

    &_5 {
      animation-delay: 2.5s;
    }
  }

  &__content {
    position: relative;
    z-index: 1000;
    line-height: 140%;
    color: rgba($white, .8);
    transition: color .3s ease;

    &:hover {
      color: $white;
    }
  }
}

.modules {
  &__main {
    display: flex;
  }

  &__nav {
    padding-right: 100px;
    border-right: 1px solid rgba($white, .3);
  }

  &__nav-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__nav-list {
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }

  &__nav-item {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 36px;
    transition: all .3s ease;
    cursor: pointer;
    width: 50%;

    &:hover {
      color: lighten($blue, 10);
    }

    &_active {
      font-size: 36px;
      font-weight: bold;
      color: $blue;
    }
  }

  &__content {
    padding-left: 100px;
  }

  &__content-wrapper {
    line-height: 130%;
    font-size: 18px;
    display: none;
    letter-spacing: .5px;
    animation-name: fadeIn;
    animation-duration: .5s;

    &_active {
      display: block;
    }
  }

  &__content-question {
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: bold;

    p {
      margin-bottom: 10px;
    }
  }

  &__content-subtitle {
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba($blue, .1);
  }

  &__content-answer {
    margin-top: -20px;
    font-size: 18px;
    color: rgba($white, .9);
  }
}

.cases {
  &__item {
  }
}

.case {
  overflow: hidden;
  background-color: $purple;
  box-shadow: 0 0 20px 5px rgba($white, .2);
  border-radius: 20px;

  &__img {
    img {
      width: 100%;
    }
  }

  &__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__inst {
    color: rgba($white, .7);
    margin-bottom: 40px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__a {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__b {
    background-color: $blue;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  &__interview {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    border-radius: 20px;
    overflow: hidden;
  }

  &__info {
    width: 260px;
    text-align: center;
    background-color: $white;
    color: $purple;
    padding: 20px;
    border-radius: 20px;
    margin-top: -30px;
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__inst {
    color: rgba($purple, .7);

    a:hover {
      text-decoration: underline;
    }
  }
}

.tariffs {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -100px;
  }

  &__item {
    width: 50%;
    padding: 0 50px;
    margin-top: 100px;
  }
}

.tariff {
  padding: 60px 40px;
  background-color: $purple;
  border-radius: 20px;
  text-align: center;

  &_yellow {
    background-color: $yellow;
    color: $purple;

    .tariff__item::before {
      background-color: $purple;
    }

    .tariff__stats-text {
      color: rgba($purple, .7);
    }
  }

  &__title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 60px;
  }

  &__list {
    text-align: left;
    margin-bottom: 60px;
  }

  &__item {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blue;
    }
  }

  &__price {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__button {
    display: block;
    padding: 20px 30px;
    background-color: $white;
    color: $purple;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__stats {}

  &__numbers {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__free {}

  &__total {}

  &__stats-text {
    color: rgba($white, .7);
  }
}

.modals {
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .9);

    animation-name: fadeIn;
    animation-duration: .3s;

    &_opened {
      display: block;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 640px;

  animation-name: modal;
  animation-duration: .6s;

  &_opened {
    display: block;
  }

  &__video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// ============= ANIMATIONS =================

@keyframes advantage-number {
  0%, 20%, 100% {
    font-size: 160px;
  }
  10% {
    font-size: 170px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

// ============= END ANIMATIONS =================

