@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "reset";
@import "vars";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  background-color: $darken;
  color: $white;
}

button {
  font: inherit;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  line-height: 120%;

  @media (max-width: 475px) {
    font-size: 28px;
  }
}

.section {
  padding: 100px 0;
  min-height: 100vh;

  &_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_light {
    background-color: $dark;
  }
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: auto;

  @media (max-width: 1440px) {
    max-width: 1240px;
  }
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($darken, .55);
  text-align: center;

  @media (max-width: 475px) {
    padding-top: 100px;
  }

  &__background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
  }

  &__title, &__subtitle {
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: $blue;
      font-size: 48px;
    }

    @media (max-width: 767px) {
      span {
        font-size: 36px;
      }
    }

    @media (max-width: 475px) {
      span {
        font-size: 24px;
      }
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 36px;
    }

    @media (max-width: 475px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-size: 38px;
    margin-bottom: 80px;

    @media (max-width: 767px) {
      font-size: 28px;
    }

    @media (max-width: 475px) {
      font-size: 20px;
    }
  }

  &__link {
    padding: 20px;
    background-color: $blue;
    border-radius: 20px;
    transition: all .3s ease;

    &:hover {
      background-color: darken($blue, 10);
    }
  }
}

.for-whom {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -60px;
  }

  &__item {
    margin-top: 60px;
    width: 25%;
    padding: 0 20px;
  }

  @media (max-width: 1440px) {
    &__list {
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item {
      width: 50%;
    }
  }

  @media (max-width: 767px) {
    &__item {
      width: 100%;
    }
  }
}

.fw-item {
  position: relative;
  background-color: $purple;
  color: $white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba($white, .2);
  height: 100%;
  background-position: center bottom;
  background-size: 80%;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($purple, .75);
    border-radius: 20px;
    z-index: 0;
  }

  &__title {
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-weight: bold;
    line-height: 120%;
    z-index: 10;
  }

  &__list {
  }

  &__list-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 18px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $blue;
    }
  }

  @media (max-width: 475px) {
    padding: 15px;

    &__title {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
}

.how {
  position: relative;
  background-image: url('/img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, .8);
  }

  &__content {
    position: relative;
    z-index: 100;
    text-align: justify;
    font-size: 18px;
    line-height: 130%;
    max-width: 640px;
  }
}

.advantages {
  &__title {
    margin-bottom: 200px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -150px;
  }

  &__item {
    width: 33.3%;
    padding: 0 60px;
    margin-top: 150px;
  }

  @media (max-width: 1100px) {
    &__item {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    &__item {
      width: 100%;
      padding: 0;
    }
  }
}

.advantage {
  position: relative;

  &__number {
    bottom: 0;
    left: 0;
    font-size: 160px;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    color: $purple;
    animation-duration: 5s;
    animation-name: advantage-number;
    animation-iteration-count: infinite;

    &_1 {
      animation-delay: .5s;
    }

    &_2 {
      animation-delay: 1s;
    }

    &_3 {
      animation-delay: 1.5s;
    }

    &_4 {
      animation-delay: 2s;
    }

    &_5 {
      animation-delay: 2.5s;
    }
  }

  &__content {
    position: relative;
    z-index: 1000;
    line-height: 140%;
    color: rgba($white, .8);
    transition: color .3s ease;

    &:hover {
      color: $white;
    }
  }
}

.modules {
  &__main {
    display: flex;
  }

  &__nav {
    padding-right: 100px;
    border-right: 1px solid rgba($white, .3);
  }

  &__nav-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__nav-list {
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }

  &__nav-item {
    position: relative;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 36px;
    transition: all .3s ease;
    cursor: pointer;
    width: 50%;

    &:hover {
      color: lighten($blue, 10);
    }

    &_active {
      font-size: 36px;
      font-weight: bold;
      color: $blue;
    }

    &_hot {
      color: #FAD631;
      text-shadow: 0 0 10px #FAD631;
      animation-name: text-shadow-shine;
      animation-duration: 1s;
      animation-iteration-count: infinite;

      &:hover {
        color: darken(#FAD631, 15);
      }
    }
  }

  &__content {
    padding-left: 100px;
  }

  &__content-wrapper {
    line-height: 130%;
    font-size: 18px;
    display: none;
    letter-spacing: .5px;
    animation-name: fadeIn;
    animation-duration: .5s;

    &_active {
      display: block;
    }

    &_hot {
      .modules__content-subtitle {
        color: rgba(#FAD631, .3);
      }
    }
  }

  &__content-question {
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: bold;

    p {
      margin-bottom: 10px;
    }
  }

  &__content-subtitle {
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba($blue, .1);
  }

  &__content-answer {
    margin-top: -20px;
    font-size: 18px;
    color: rgba($white, .9);
  }

  @media (max-width: 1100px) {
    &__nav {
      padding-right: 20px;
    }

    &__content {
      padding-left: 20px;
    }
  }

  @media (max-width: 767px) {
    &__main {
      flex-direction: column;
    }

    &__nav {
      padding-right: 0;
      margin-bottom: 60px;
      border: none;
    }

    &__nav-list {
      width: 100%;
    }

    &__nav-item {
      width: 10%;
    }

    &__content {
      padding-left: 0;
    }
  }

  @media (max-width: 475px) {
    &__nav-item {
      width: 20%;
    }

    &__content-subtitle {
      font-size: 32px;
    }
  }
}

.cases {
  &__item {
  }
}

.case {
  overflow: hidden;
  background-color: $purple;
  box-shadow: 0 0 20px 5px rgba($white, .2);
  border-radius: 20px;

  &__img {
    max-width: 370px;

    img {
      width: 100%;
    }
  }

  &__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__inst {
    color: rgba($white, .7);
    margin-bottom: 40px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__a {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__b {
    background-color: $blue;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  &__interview {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    border-radius: 20px;
    overflow: hidden;
  }

  &__info {
    width: 260px;
    text-align: center;
    background-color: $white;
    color: $purple;
    padding: 20px;
    border-radius: 20px;
    margin-top: -30px;
  }

  &__img {
    padding-top: 75%;
    min-width: 300px;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid $purple;
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    //margin-bottom: 15px;
  }

  &__inst {
    color: rgba($purple, .7);

    a:hover {
      text-decoration: underline;
    }
  }
}

.tariffs {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -100px;
  }

  &__item {
    width: 50%;
    padding: 0 50px;
    margin-top: 100px;
  }

  @media (max-width: 972px) {
    &__list {
      margin-top: -50px;
    }

    &__item {
      width: 100%;
      padding: 0;
      margin-top: 50px;
    }
  }
}

.tariff {
  padding: 60px 40px;
  background-color: $purple;
  border-radius: 20px;
  text-align: center;

  &_vip {
    background-color: lighten($purple, 20);
  }

  &_group {
    background-color: darken(#FFD452, 1);
    color: $purple;

    .tariff__item::before {
      background-color: $purple;
    }

    .tariff__item_disabled {
      color: lighten(gray, 10);

      &::before {
        background-color: lighten(gray, 10);
      }
    }

    .tariff__item {
      a {
        color: darken($blue, 15);
      }
    }

    .tariff__stats-text {
      color: $purple;
    }
  }

  &_personal {
    background: rgb(255, 237, 21);
    background: radial-gradient(circle, rgba(255, 237, 21, 1) 0%, rgba(255, 231, 0, 1) 38%, rgba(193, 139, 1, 1) 100%);
    color: $purple;
    animation-name: box-shadow-shine;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    .tariff__item::before {
      background-color: $purple;
    }

    .tariff__item_disabled {
      color: gray;

      &::before {
        background-color: gray;
      }
    }

    .tariff__item {
      a {
        color: darken($blue, 15);
      }
    }

    .tariff__stats-text {
      color: $purple;
    }
  }

  &_yellow {
    background-color: $yellow;
    color: $purple;

    .tariff__item::before {
      background-color: $purple;
    }

    .tariff__stats-text {
      color: rgba($purple, .7);
    }

    .tariff__button:hover {
      border-color: $purple;
      color: $purple;
    }
  }

  &__title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 60px;
  }

  &__list {
    text-align: left;
    margin-bottom: 60px;
  }

  &__item {
    padding-left: 20px;
    position: relative;
    margin-bottom: 20px;
    line-height: 120%;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blue;
    }

    &_disabled {
      color: gray;

      &::before {
        background-color: gray;
      }
    }

    a {
      color: $blue;

      &:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }

  &__price {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 20px 30px;
    background-color: $white;
    color: $purple;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .3s ease;
    border: 2px solid $white;

    &:hover {
      background-color: rgba($white, .2);
      color: $white;
    }
  }

  &__stats {
  }

  &__numbers {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__free {
  }

  &__total {
  }

  &__stats-text {
    color: rgba($white, .7);
  }
}

.faq {
  &__accordion {
    max-width: 640px;
  }
}

.accordion {
  background-color: $white;
  color: $purple;
  border-radius: 20px;
  padding-bottom: 20px;
}

.acc-item {
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid $purple;
  }

  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__header-text {
    font-size: 20px;
    font-weight: bold;
  }

  &__toggler {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $purple;
    cursor: pointer;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 20px;
      background-color: $white;
      transition: all .3s ease;
    }

    &::before {
      transform: translate(-50%, -50%) rotateZ(90deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
  }

  &__body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: none;
  }

  &_active {
    .acc-item {
      &__body {
        display: block;
      }

      &__toggler {
        &::before {
          transform: translate(-50%, -50%) rotateZ(45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotateZ(-45deg);
        }
      }
    }
  }
}

.modals {
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .9);

    animation-name: fadeIn;
    animation-duration: .3s;

    &_opened {
      display: block;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 640px;

  animation-name: modal;
  animation-duration: .6s;

  &_opened {
    display: block;
  }

  &__video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// =============== FOOTER ===================

.footer {
  border-top: 1px solid $purple;
  padding: 40px 0;
  font-size: 14px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tou {
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}

// ============= END FOOTER =================

// ============= ANIMATIONS =================

@keyframes advantage-number {
  0%, 20%, 100% {
    font-size: 160px;
  }
  10% {
    font-size: 170px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes text-shadow-shine {
  0% {
    text-shadow: 0 0 5px #FAD631;
  }
  50% {
    text-shadow: 0 0 15px #FAD631;
  }
  100% {
    text-shadow: 0 0 5px #FAD631;
  }
}

@keyframes box-shadow-shine {
  0% {
    box-shadow: 0 0 10px rgba(255, 231, 0, 1);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 231, 0, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 231, 0, 1);
  }
}

// ============= END ANIMATIONS =================

